In [5]:
cars = ["Audi", 'BMW', "Mercedes", "Honda"]
for car in cars:
    print(car.upper())

AUDI
BMW
MERCEDES
HONDA

In [7]:
cars.append("Toyota")
for car in cars:
    print(car.title())

Audi
Bmw
Mercedes
Honda
Toyota
Toyota

In [9]:
cars.pop()
cars

['Audi', 'BMW', 'Mercedes', 'Honda']

In [11]:
del cars[3]

In [12]:
cars

['Audi', 'BMW', 'Mercedes']

In [14]:
cars.remove("BMW")

In [15]:
cars

['Audi', 'Mercedes']

In [20]:
cars.insert(1, "BMW")

In [21]:
cars

['Audi', 'BMW', 'Mercedes']

In [27]:
cars.remove("BMW") == ("Ferrari")

False

In [28]:
cars

['Audi', 'Mercedes']

In [29]:
cars.insert(1, "BMW")

In [30]:
cars

['Audi', 'BMW', 'Mercedes']

In [37]:
print(cars[2])

Mercedes

In [51]:
cars.insert(3, 'Lamborgini')
cars

['Audi',
 'BMW',
 'Mercedes',
 'Lamborgini',
 'Lamborgini',
 'Lamborgini',
 'Lamborgini',
 'Ferrari',
 'Ferrari',
 'Ferrari']

In [46]:
cars[3] = "Ferrari"

In [52]:
cars

['Audi',
 'BMW',
 'Mercedes',
 'Lamborgini',
 'Lamborgini',
 'Lamborgini',
 'Lamborgini',
 'Ferrari',
 'Ferrari',
 'Ferrari']

In [53]:
cars.pop()

'Ferrari'

In [54]:
cars.pop()

'Ferrari'

In [55]:
cars.pop()

'Ferrari'

In [56]:
cars

['Audi',
 'BMW',
 'Mercedes',
 'Lamborgini',
 'Lamborgini',
 'Lamborgini',
 'Lamborgini']

In [57]:
cars.pop()
cars.pop()
cars.pop()

'Lamborgini'

In [58]:
cars

['Audi', 'BMW', 'Mercedes', 'Lamborgini']

In [65]:
cars.insert(0, "Ferrari")
cars

['Ferrari', 'Audi', 'BMW', 'Mercedes', 'Lamborgini']

In [63]:
del cars[cars.index("Ferrari")]

In [66]:
cars

['Ferrari', 'Audi', 'BMW', 'Mercedes', 'Lamborgini']

In [67]:
del cars[1]
cars

['Ferrari', 'BMW', 'Mercedes', 'Lamborgini']

In [68]:
cars[1] = "Bugatti"
cars

['Ferrari', 'Bugatti', 'Mercedes', 'Lamborgini']

In [69]:
cars.pop(2)

'Mercedes'

In [70]:
cars

['Ferrari', 'Bugatti', 'Lamborgini']

In [71]:
cars.insert(2, "Mclaren")
cars.insert(3, "Porsche")

In [72]:
cars

['Ferrari', 'Bugatti', 'Mclaren', 'Porsche', 'Lamborgini']

In [74]:
cars.pop(3)

'Porsche'

In [75]:
cars

['Ferrari', 'Bugatti', 'Mclaren', 'Lamborgini']

In [76]:
cars.remove('Ferrari')

In [77]:
cars

['Bugatti', 'Mclaren', 'Lamborgini']

In [93]:
print(cars)
print(f"\nMy least favourite car is {least_favourite}.")

['Lamborgini']

My least favourite car is Lamborghini.

In [1]:
for x in range(1, 10):
    print(x)

1
2
3
4
5
6
7
8
9

In [15]:
fruits: dict = {'a': 'apple', 'b': 'banana', 'c': 'cherry'}
print(fruits)
for x in range(0, 6):
    print(x)

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}
0
1
2
3
4
5

In [22]:
results: dict = {'1': 'Ali', '2': 'Sam', '3': 'Bob'} 
print(results)
results['1']

{'1': 'Ali', '2': 'Sam', '3': 'Bob'}

'Ali'

In [27]:
results.values()

dict_values(['Ali', 'Sam', 'Bob', 'Eve'])

In [35]:
results['4'] = 'Eve'

In [33]:
results.get('4')

'Eve'

In [39]:
for x in results.values():
    print(x)

Ali
Sam
Bob
Eve

In [49]:
print(list(results.items()))
print((results.items()))

[('1', 'Ali'), ('2', 'Sam'), ('3', 'Bob'), ('4', 'Eve')]
dict_items([('1', 'Ali'), ('2', 'Sam'), ('3', 'Bob'), ('4', 'Eve')])

In [50]:
for x in results.items():
    print(x)

('1', 'Ali')
('2', 'Sam')
('3', 'Bob')
('4', 'Eve')

In [51]:
for x in results.values():
    print(x)

Ali
Sam
Bob
Eve

In [63]:
for y , x in results.items():
    print(f'No. {y} ------ Name : {x}')

No. 1 ------ Name : Ali
No. 2 ------ Name : Sam
No. 3 ------ Name : Bob
No. 4 ------ Name : Eve